<div class="page-wrapper">
  <div class="card-link">
    <mat-card routerLink="static1/static2">
      <mat-card-content>
        <div class="d-flex flex-row align-items-center">
          <div class="spacer">
            <b class="text-primary">{{ 'menu.test1' | translate }}</b>
            <p>{{ 'menu.description1' | translate }}</p>
          </div>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="card-link">
    <mat-card routerLink="dynamic1/dynamic2/dynamic3">
      <mat-card-content>
        <div class="d-flex flex-row align-items-center">
          <div class="spacer">
            <b class="text-primary">{{ 'menu.test2' | translate }}</b>
            <p>{{ 'menu.description2' | translate }}</p>
          </div>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="card-link">
    <mat-card routerLink="dynamic1/static1">
      <mat-card-content>
        <div class="d-flex flex-row align-items-center">
          <div class="spacer">
            <b class="text-primary">{{ 'menu.test3' | translate }}</b>
            <p>{{ 'menu.description3' | translate }}</p>
          </div>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
