<ol class="breadcrumb">
  <li *ngFor="let breadcrumb of breadcrumbs">
    <span [routerLink]="breadcrumb.url" routerLinkActive="router-link-active">
      {{ breadcrumb.label | translate }} {{breadcrumb.dynamicLabel}}
    </span>
  </li>
</ol>