.breadcrumb {
    background: none;
    font-size: 0.8em;
    margin: 0;
    a,
    span {
      color: white;
      cursor: pointer;
    }
    a:hover,
    span:hover {
      color: dimgrey;
      text-decoration: none;
    }
    li {
      list-style: none;
      float: left;
      margin: 2px;
    }
    li:last-child {
      margin-right: 0px;
    }
    li::after {
      content: "/";
      margin: 5px;
      color: darkgrey;
    }
    li:last-child::after {
      content: "";
    }
  }