<mat-toolbar color="primary">
  <span class="title">{{ 'title' | translate }}</span>
  <div class="spacer"><app-breadcrumb></app-breadcrumb></div>
  <button mat-button [matMenuTriggerFor]="langMenu" class="lang-selector">
    {{translate.currentLang}}
  </button>
</mat-toolbar>

<router-outlet></router-outlet>

<mat-menu #langMenu="matMenu">
  <button mat-menu-item *ngFor="let locale of locales" (click)="translate.use(locale)">{{locale}}</button>
</mat-menu>